

body {
 background: #fff;
  height: 100vh;
  
  color: #000;
  margin: 0;
  padding: 0;
}
.client-testimonials {
  font-family: Montserrat, sans-serif;
  font-size: 2.5rem;
  color: #8E7F7F;
  font-weight: 500;
}




.swiper {
  width:75%;
  height: 100%;
}

#testimonials {
    padding: 7% 15%;
    text-align: center;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
 
 
  

}

.swiper-slide img {
  display: block;
 max-width: 109px; ;

  border-radius: 100%;
  
  object-fit:cover;
}


.swiper-button-prev{
  color: red;
  align-items: center;
 
}
.swiper-button-next{
  color:blue;
  align-items: center;
}

    

 h1{
  
    font-family: Montserrat, sans-serif;
    font-size: 1.5rem;
    line-height: 1.5;
    font-weight: 400;
    margin-bottom: 30px;
    align-items: center;
}

.name{
  font-family: Montserrat, sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
margin-bottom: 0%;
  

}
.job {
  font-family: Montserrat, sans-serif;
  font-size: 1rem;
  color: #8E7F7F;
  font-weight: 450;
  margin:-15px;
}

    .mySwiper2 {
      height: 80%;
      width: 75%;
    }

    .mySwiper {
    width:85%;
      box-sizing: border-box;
      padding: 69px 0;
    }

    .mySwiper .swiper-slide {
      width: 25%;
      height: 100%;
    
    }
    .mySwiper .swiper-slide h1 {
    padding: 0px 100px;
    
    }

    .mySwiper .swiper-slide-thumb-active {
      opacity: 1;
    }

     